@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Dancing+Script:wght@500&family=Didact+Gothic&family=Dosis:wght@400;600&family=Indie+Flower&family=Krona+One&family=Montserrat:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&family=Bilbo&family=Corinthia:wght@700&family=Dosis:wght@500&family=Ephesis&family=Handlee&family=Inter&family=Passions+Conflict&family=Playfair&family=Rambla&display=swap');


* { /*Configuração global da CSS */
    margin: 0;
    padding: 0;
}

.logo {
    height: 8em;
    align-items: center;
    justify-content: center;
}

.faixa {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background-color: #da9b71;
}

.menu:hover {
    color:#e77f39!important;
    font-weight: bold;

}

.activee {
    text-decoration: none;
    color: #e77f39;
    text-overflow: #e77f39;
    font-weight: bold;
}


.informacao {
    width: 100%;
    height: auto;
    display: flex;
    background-color: black;
}

.botoes {
    background-color: #da9b71 !important;
    border-color: white !important;
    color: white !important;
    margin-top: 0.1em;
    width: 12em;
    padding: 2em;
    align-items: center;
    justify-content: center;
}

.titulo {
    color:white;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 10% 10% 10% 19%;
}

.texto {
    color:white;
    text-align:center;
    margin: 7% 25% 2% 6%;
    /* padding: 15% 15%; */
    font-size: 16px;
}

.carrosel {
    display: flexbox;
    width: 50%;
    height: auto;
   /* margin: 0% 35% 3% 25%;*/
   margin: 0 auto;
    background-color: black;
    align-items: center;
    /* justify-items:flex-start; */
}

.carrosel-ti {
    display: flexbox;
    width: 30%;
    height: auto;
   /* margin: 0% 35% 3% 25%;*/
   margin: 0 auto;
    background-color: black;
    align-items: center;
    /* justify-items:flex-start; */
}

.fotos{
    width: 100%;
    height: auto;
    justify-items: center;
    align-items: center;
}


#link-topo {
    text-decoration: none;
    color:white;
    font-size: 20px;
    margin: 0% 5% 0% 93%; 
    /*position:fixed;*/
    /* left: 93%; */
    width: 90%;
}