@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Dancing+Script:wght@500&family=Didact+Gothic&family=Dosis:wght@400;600&family=Indie+Flower&family=Krona+One&family=Montserrat:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&family=Bilbo&family=Corinthia:wght@700&family=Dosis:wght@500&family=Ephesis&family=Handlee&family=Inter&family=Passions+Conflict&family=Playfair&family=Rambla&display=swap');


  * {
    margin: 0;
    padding: 0;
}

.container-fluid {
    display: flex;
    background-color: black;
    color: #e7e3e0;
    width: 100%;
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    margin: 5em 8em 2em 15em;
}

.apresentacao__conteudo__titulo {
    font-size: 1.5em;
    font-weight: 30;
    font-family: 'Krona One', sans-serif;
    align-items: center;
    text-align: center;
}

.titulo-destaque {
    color: #da9b71;
    font-size: 1em;
    align-items: center;
}

.apresentacao__conteudo__paragrafo {
    font-size: 1.3em;
    font-family: 'Montserrat';
    text-justify:auto;
    text-align: justify;
    line-height: 1.2;
}

.apresentacao__conteudo__paragrafo2 {
    font-size: 1.3em;
    font-family: 'Montserrat';
    text-justify:auto;
    text-align: justify;
}

.apresentacao__botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-evenly;
    gap: 1.8em;
}

.apresentacao__botoes__subtitulo {
    font-family: 'krona One', 'Montserrat';
    font-weight: 20;
    font-size: 1em;

}

.apresentacao__botoes__link {
    background-color: #f6f6f609;
    display: flex;
    justify-content: center;
    gap: 1em;
    width: 9em;
    text-align: center;
    border-radius: 0.5em;
    border: 0.1em solid #da864e;
    font-size: 1.4em;
    font-weight: 500;
    padding: 0.5em 0;
    text-decoration: none;
    color:#e7e3e0;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__botoes__link:hover {
    color: #da864e;
}

.apresentacao__perfil {
    background-color: #f6f6f609;
    display: flex;
    justify-content: center;
    width: 9em;
    text-align: center;
    border-radius: 0.5em;
    border: 0.1em solid #da864e;
    font-size: 1em;
    font-weight: 700;
    padding: 0.8em 2em;
    text-decoration: none;
    color:#a2dcfd;
    font-family: 'Montserrat', sans-serif;
    }
    


.apresentacao__perfil:hover{
    border-color:white;
}

.apresentacao__perfil1 {
    font-family: 'krona One', 'Montserrat';
    font-weight: 20;
    font-size: 1em;
    text-align: center;
    color: #e7e3e0;
    text-decoration: none;
    align-items: center;
}

.foto img {
    width: 100%;
    max-width: 360px;
    height: auto;
    margin: 11em 12em 0em 0em;
}